<!DOCTYPE html>
<html>
  <head>
    <title>Journal - Coronasafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.motionblurjs.com/blur.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body>
    <%= yield %>
  </body>
</html>
